{% extends 'base.html' %}
{% load materializecss %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col s12 m6">
        <h4 class="purple-text text-darken-3">Profile</h4>
              <div class="card">
                <div class="card-image">
                  <img src="{{ user.userprofile.avatar.url }}">
                  <span class="card-title">{{ user.userprofile.username }}</span>
                  <a href="#profile-form" onClick="showUpdateForm()" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">edit</i>
                    </a>
                </div>
                <div class="card-content">
                  <p>{{ user.email }}</p>
                  <p>{{ user.userprofile.bio }}</p>
                </div>
              </div>  
    </div>
<div class="row">
    <div id="profile-update"class="col s12 m8" style="display: none;">
                <h4 class="purple-text text-darken-3">Update Your Profile</h4>
                <form id="profile-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn">Save</button>
                </form>
                
    </div>
</div>
    
  <section>
      <ul class="collection with-header">
        <li class="collection-header"><h5 class="purple-text text-darken-3">Account Actions:</h5></li>
        <li class="collection-item"><a href="/accounts/email/">Change email</a></li>
        <li class="collection-item"><a href="/accounts/email/">Change password</a></li>
        <li class="collection-item"><a href="/accounts/email/">Confirm email</a></li>
      </ul>
    </section>
</div>

<script>
  // show update profile form
  updateProfielEl = document.getElementById('profile-update')
  function showUpdateForm () {
    updateProfielEl.style.display = "block"
  }
</script>
{% endblock content %}