{% load static %}
{% load materializecss %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- HTMX CDN -->
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Django Starter</title>
    </head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <div class="navbar-fixed">
    <nav class="purple darken-3">
      <div class="container">
        <!-- Nav Dropdown -->
            <ul id="dropdown1" class="dropdown-content">
              <li>
                <a href="{% url 'accounts:profile' %}">Profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'account_logout' %}">Logout</a>
              </li>
            </ul>
        <!-- end nav dropdown -->
        <div class="nav-wrapper">
          <a href="/" class="brand-logo flow-text">Django Starter</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

          <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
           <ul class="right hide-on-med-and-down">
            <li>
              <a href="/">Posts</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'posts:create' %}">Add+</a>
            </li>

            <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger btn-floating" href="#!" data-target="dropdown1">
          <i class="material-icons right">person</i>
            <!-- <i class="material-icons right">more_vert</i> -->
          </a></li>
    
            {% else %}
            <li>
              <a href="{% url 'account_login' %}">Login</a>
            </li>
            <li>
              <a href="{% url 'account_signup' %}">Signup</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- sidenav slideout -->
  <ul id="slide-out" class="sidenav">
    {% if user.is_authenticated %}
    <li><div class="user-view">
      <div class="background">
        <img src="{% static 'images/office.jpg' %}">
      </div>
      <a href="#user"><img class="circle" src="{{ user.userprofile.avatar.url }}"></a>
      <a href="#name"><span class="white-text name">{{ user.username }}</span></a>
      <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
    </div></li>
    {% else %}
    <li><div class="user-view">
      <div class="background">
        <img src="{% static 'images/office.jpg' %}">
      </div>
      <a href="#user"><img class="circle" src="/media/avatars/user_avatar.png"></a>
      <a href="#name"><span class="white-text name">guest</span></a>
      <a href="#email"><span class="white-text email">no email</span></a>
    </div></li>
    {% endif %}

    <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
    <li><a class="waves-effect" href="/"><i class="material-icons">list</i>Posts</a></li>
    <li><a class="waves-effect" href="{% url 'posts:create' %}"><i class="material-icons">add</i>New Post</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Account</a></li>
    {% if user.is_authenticated %}
      <li><a class="waves-effect" href="{% url 'accounts:profile' %}"><i class="material-icons">account_circle</i>Profile</a></li>
      <li><a class="waves-effect" href="{% url 'account_logout' %}"><i class="material-icons">highlight_off</i>Logout</a></li>
    {% else %}
      <li><a class="waves-effect" href="{% url 'account_login' %}"><i class="material-icons">exit_to_app</i>Login</a></li>
      <li><a class="waves-effect" href="{% url 'account_signup' %}"><i class="material-icons">launch</i>Signup</a></li>
    {% endif %}
  </ul>

    <div class="container">
    <!-- Messages list -->
      {% if messages %}
      <ul class="collection purple-text text-darken-4" style="display: none;">
            {% for message in messages %}
            <li id="dj-msg" {% if message.tags %} class="{{ message.tags }} collection-item indigo lighten-5"{% endif %}"><strong>{{ message }}</strong></li>
            {% endfor %}
      </ul>
      {% endif %}

{% block content %}

{% endblock content %}
    </div>

{% block script %}

{% endblock script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    
    <script>
        // insert csrf token when performing AJAX request 
        //document.body.addEventListener('htmx:configRequest', (event) => {
        //event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'; 
        //})
        // floatin action buttons init
          document.addEventListener('DOMContentLoaded', function() {
          var fab = document.querySelectorAll('.fixed-action-btn');
          var instances = M.FloatingActionButton.init(fab, {});
          });
        // end floating action buttons

        // dropdown
        document.addEventListener('DOMContentLoaded', function() {
        var drop = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(drop, {});
        });

        // Create Post Modal
        document.addEventListener('DOMContentLoaded', function() {
        var pmodal = document.querySelectorAll('.modal');
        var instances = M.Modal.init(pmodal, {});
        });

        // Materialize side nav init
        document.addEventListener('DOMContentLoaded', function() {
        var snav = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(snav, {});
        });

        /* date picker materialized css */
        document.addEventListener('DOMContentLoaded', function() {
        var dp = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(dp, {
          'isRTL': false
        });
        });

        // Materialized CSS Collapsible init
        document.addEventListener('DOMContentLoaded', function() {
        var collaps = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(collaps, {});
        });

        // show messages as materialize toast
        document.addEventListener('DOMContentLoaded', function msgToast() {
              let msgEl = document.getElementById('dj-msg')
              if (msgEl != null) {
                let msg = msgEl.textContent
                M.toast({html: msg }) 
            }
          })
        // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
        // var collapsibleElem = document.querySelector('.collapsible');
        // var collapsibleInstance = M.Collapsible.init(collapsibleElem, {});

        // End of Materialize side nav

        
              // init materialized css auto complete with ajax
        // document.addEventListener('DOMContentLoaded', function() {
        //       $.get("/search/", function(data){
        //         console.log(data)
        //         // now init autocomplete
        //         let ac = document.querySelectorAll('.autocomplete');
        //         let instances = M.Autocomplete.init(ac, {
        //         data: JSON.parse(JSON.stringify(data))
        //         });
        //     });
        // });
        
        
    </script>
</body>
</html>