{% load materializecss %}
      <div id="comment-form">
        <form hx-post="{% url 'posts:comment' post.slug %}" method='POST' class="">
          {% csrf_token %}
          {{ form|materializecss }}
            <button hx-target="#comment-list"
            hx-swap="beforeend"
            class="btn waves-effect waves-light blue" type="submit" name="action">Post
                <i class="material-icons right">send</i>
            </button>
        </form>
      </div>

<!-- end comment form -->