{% load humanize %}
{% load hitcount_tags %}

<div id="post-list">
    <div class="row">
        {% if post_list %}
        {% for post in post_list %}
        <!------------------- Post card -------------------->
        <div class="col s12 m6">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img src="{{ post.image.url }}">
                    <span class="card-title"><b>{{ post.title|title }}</b></span>
                </div>
                <div class="card-content">
                    <p>{{ post.body|truncatewords:20 }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'posts:detail' post.slug %}" class="teal-text">Read</a>
                    <span class="grey-text vertical-align right">
                    {% get_hit_count for post %} views
                  </span>
                </div>
            </div>
        </div>
        <!------------------- End Post card -------------------->
        {% endfor %}
    </div>
    {% else %}
    <div style="margin-bottom: 50px; margin-top: 50px; padding: 40px 0px; border: 4px #9e9e9e solid; border-style: dashed;"
         class="nopost-wrapper container center">
        <h5 style="padding: 10px; margin-top: 0px;" class="grey-text">No posts yet.</h5>
        <a href="{% url 'posts:create' %}" class="btn waves-effect grey">
            <i class="material-icons white-text left">add_circle</i>
            <span class="bold">Add a post</span>
        </a>
    </div>
    {% endif %}
</div>