<!--  post form for Modal partial template -->
<div>
    <h5 class="grey-text">Edit post</h5>
    <form action="{% url 'posts:htmx-update' post.slug %}" method='POST' enctype="multipart/form-data" onsubmit="M.toast({html: 'Updated!'})">
      {% csrf_token %}
      {{ form.as_p }}
        <button class="btn btn-small waves-effect waves-light purple darken-3" type="submit" name="action">Save
            <i class="material-icons right">save</i>
        </button>
    </form>
</div>
<!-- end post form for modal -->