{% load humanize %}

<div id="post-list">
  {% if post_list %}
    {% for post in post_list %}
        <div id="entry{{post.pk}}">
        <h3 class=""><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h3>
        <span>{{ post.added|timesince }} ago | </span>
        <span class="margin-bottom-5">{{ views|intcomma }} views</span>
        <br>
        <div>
        <!-- <div id="post-del"
        hx-target="#post-list"
        hx-swap="outerHtml"
        hx-confirm="Are you sure you wish to delete this post: {{post.title}}?">
            <a href="{% url 'update' post.slug %}" class="btn-floating waves-effect waves-light btn"><i class="material-icons left">mode_edit</i></a>
            <button class="btn-floating waves-effect waves-light btn red"
            hx-delete="{% url 'htmx-delete' post.slug %}">
            <i class="material-icons">delete</i></button>
        </div> -->
        <br>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div style="margin-bottom: 50px; margin-top: 50px; padding: 80px 0px; border: 6px #9e9e9e solid; border-style: dashed;" class="nobook-wrapper container center">
    <h3 style="padding: 10px; margin-top: 50px;" class="grey-text">No posts yet.</h3>

        <a href="{% url 'create' %}" class="btn btn-large grey">
            <i class="material-icons white-text left">add_circle</i>
            <span class="bold">Add a post</span>
        </a>

</div>
  {% endif %}
</div>