{% load hitcount_tags %}
<h5 class="teal-text">Recent Posts</h5>
<div class="collection">
    {% for post in recent_posts %}
    <li class="collection-item avatar">
        <img src="{{ post.image.url }}" alt="" class="circle">
        <a href="{{ post.get_absolute_url }}">
            <span class="title">{{ post.title|truncatechars:17 }}</span>
        </a>
        <p class="grey-text">{{ post.creator.userprofile.name }} <br>
            {{ post.added|timesince }} ago
        </p>
        <!-- <a href="{% url 'posts:detail' post.slug %}" class="secondary-content"><i class="material-icons">star</i></a> -->
    </li>
    {% endfor %}
</div>
