{% extends 'posts/base.html' %}
{% load materializecss %}
{% load humanize %}

{% block content %}
    <H4 class="purple-text text-darken-3">Create a Posts</H4>
        <form action="." method='POST' enctype="multipart/form-data" class="col s12">
            {% csrf_token %}
            {{ form|materializecss }}
            <button class="btn waves-effect waves-light purlple darken-3" type="submit" name="action">Create
                <i class="material-icons right">send</i>
            </button>

        </form>
{% endblock content %}
