{% extends 'posts/base.html' %}
{% load humanize %}

{% block content %}
    <H3 class="teal-text lighten-4"">Delete a Posts</H3>
    <h5 class="">Are you sure you want to delete this post?</h5>
    <h5 class="teal-text">{{ post.title }}</h5>
    <br/>
        <form action="." method='POST' class="col s12">
            {% csrf_token %}
        <button class="btn waves-effect waves-light red" type="submit" name="action">Yes, Delete
                <i class="material-icons left">delete</i>
        </button>
        </form>
        <br>
        <a href="{% url 'detail' post.slug %}" class="waves-effect waves-light btn teal">No, Go back</a>
{% endblock content %}
