{% extends 'posts/base.html' %}
{% load humanize %}

{% block content %}
<h3 class="flow-text">{{ post.title }}</h3>
    <button data-target="modal1" class="modal-trigger btn-floating blue lighten-1"
        hx-get="{% url 'htmx-update' post.slug %}"
        hx-target="#post-update-form"
        hx-swap="outerHTML">
        <i class="material-icons left">mode_edit</i>
    </button>
        <a href="{% url 'delete' post.slug %}" class="btn-floating waves-effect waves-light btn red"><i class="material-icons left">delete</i></a>


<br/> <br>
<div class="grey-text">
        <span>{{ post.added|timesince }} ago </span>
        <span><i class="material-icons tiny">remove_red_eye</i> 1399</span>
</div>

<p class="flow-text">{{ post.body }}</p>
<br>
<br>

<!-- edit post Modal -->
<div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Edit Post</h4>
                <form id="post-update-form"></form>
          </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Discard</a>
        </div>
      </div>
      <!-- end modal -->
{% endblock content %}

